label
  .label-text #{text}

  if isText
    textarea(name='#{_id}' id='#{_id}') #{previousResponse}

  else
    input(
      type='#{questionType}'
      name='#{_id}'
      id='#{_id}'
      value='#{previousResponse}'
      min='#{min}'
      max='#{max}')